 {% extends "base.html" %}

<!--パンくずのところ-->
{% block breadcrumb %}
<nav class="breadcrumb">
    <a href="/">トップ</a>
    <span>＞</span>
    <span>投稿詳細</span>
</nav>
{% endblock %}

{% block title %} 投稿詳細 {% endblock %}

{% block content %}
<div class="page_post_detail">
    <body>
        <h2>頑張り詳細</h2>
        <div class="detail-card">
             <div class="post-main">
                    <div class="dekita">
                        <!-- ここにできた時のスタンプのようなもの -->
                     <p>できた！</p>
                    </div>

                    <!-- ３ブロックにカード内を分けるとしてここは左↓ -->
                    <!-- <div class="post-left">
                        <div class="post-user">
                            postしたユーザーの名前ここに入ります
                            <span class="display-name">{{ post.user_name }}</span>
                        </div>
                    </div> -->

                    <!-- ここは真ん中↓ -->
                    <div class="post-center">
                        <div class="post-user">
                            <!-- postしたユーザーの名前ここに入ります -->
                            <span class="display-name">{{ post.user_name }}</span>
                        </div>
                        <!--トレーニングを選んだものがここに列挙されるように↓ -->
                        <ul class="training-list">

                            {% for i in range(post.menu_name|length) %}
                            <li>
                                {% if post.menu_name %}
                                    {{ post.menu_name[i] }}
                                {% endif %}

                                {% if post.reps and (post.reps[i]|int != 0 or post.sec[i]|int == 0)%}
                                    {{ post.reps[i] }}回
                                {% endif %}

                                {% if post.sec and (post.sec[i]|int != 0 or post.reps[i]|int == 0)%}
                                    {{ post.sec[i] }}秒
                                {% endif %}

                                {% if post.set_count %}
                                    × {{ post.set_count[i] }}
                                {% endif %}

                                {# {% if post.other %}
                                    {{ training.other }}
                                {% endif %} #}

                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- ここは右↓ -->
                    <div class="post-right">
                        <div class="post-time">{{ post.created_at }}</div>
                    </div>
                </div>
                <!--自由記述のところがあったらのところ-->
                {% if post.content %}
                <div class="post-content">
                    {{ post.content }}
                </div>
                {% endif %}

                <!--ここから下がコメントを入力投稿したりいいねなどのリアクションをする場所-->
                <div class="reaction-list">
                    <div class="post-btn">💬 <span class="count">{{ post.comments_count }}</span></div>
                    {% for reaction_kind in reactions %}
                    <span class="reaction">
                        <form class="reaction" action="/posts_list/{{ post.id }}/reaction" method="post">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button class="reaction_btn" type="submit" name="reaction_id" value="{{ reaction_kind.id }}">
                                {{ reaction_kind.reaction }} {{ reaction_kind.count }}
                            </button>
                        </form>
                    </span>
                    {% endfor %}
                </div>
                <!--コメント投稿(クラスpost)-->
                <div class="new-post">
                    <form class="new-post-main" action="/posts_list/{{ post.id }}/comments" method="post">
                        <!-- クロスサイト対策 -->
                         <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                         <textarea name="content" placeholder="コメントする"></textarea>

                         

                         <div class="post-footer">
                            <button class="btn" type="submit">
                                送る
                            </button>
                         </div>
                    </form>
                    
                </div>
        </div>

        <!-- {% with messages = get_flashed_messages(with_categories=true) %} -->
        {% if messages %}
        <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        </div>
        {% endif %}
        <!-- {% endwith %} -->

        <!--いいね！-->
        <div class="comment-section">
            {% if comments %} <!--commentsが空っぽじゃないなら-->
            {% for comment in comments %}
            <div class="comment-card">
                <div class="comment-header">
                    <span class="comment-user">{{ comment.user_name }}</span> <!--コメントした人のユーザ名を表示-->
                    <span class="comment-time">{{ comment.created_at }}</span> <!--コメントが投稿された日時-->
                </div>
                <div class="comment-body">
                    {{ comment.content }}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="no-comments">まだコメントがありません</p>
        {% endif %}
        </div>

    </body>
    <div class="footer-menu">
        <a href="{{ url_for('posts_list_view') }}" class="footer-btn">トップ</a>
        <a href="./post" class="footer-btn">トレーニング</a>
    </div>
</div>

{% endblock %}