{% extends "base.html" %}

<!--パンくずのところ-->
{% block breadcrumb%}
<nav class="breadcrumb">
    <a href="/">トップ</a>
    <span>＞</span>

</nav>
{% endblock %}

{% block title %}みんなの頑張り（仮）{% endblock %}

{% block page_css %}
{% comment %} もしこのページだけのcssファイルを作った場合ここでlink relさせる {% endcomment %}
{% endblock %}



{% block content %}


<div class="page-posts">
    <main>
        <div  class="page-title">
            <h1>みんなの頑張り（仮）</h1>
        </div>

        <div class="pankuzu">
        <!-- ここにパンくずリストを作るかどうか -->
        </div>

        <div class="post-card-wrapper">
            <div class="post-card">
                <div class="post-main">
                    <div class="dekita">
                        <!-- ここにできた時のスタンプのようなもの -->
                     <p>できた！</p>
                    </div>

                    <!-- ３ブロックにカード内を分けるとしてここは左↓ -->
                    <div class="post-left">
                        <div class="post-user">
                            <!-- postしたユーザーの名前ここに入ります -->
                            <span class="display-name">{{ post.user_name }}</span>
                        </div>
                    </div>

                    <!-- ここは真ん中↓ -->
                    <div class="post-center">
                        <!--トレーニングを選んだものがここに列挙されるように↓ -->
                        <ul class="training-list">

                            {% for training in post.training %}
                            <li>
                                { if training.menu_name }
                                    {{ training.menu_name }}
                                {% endif %}

                                {% if training.reps %}
                                    {{ training.reps }}回
                                {% endif %}

                                {% if training.sec %}
                                    {{ training.sec }}秒
                                {% endif %}

                                {% training.set_count %}
                                    {{ training.set_count }}セット
                                {% endif %}

                                {% if training.other %}
                                    ({{ training.other }})
                                {% endif%}

                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- ここは右↓ -->
                    <div class="post-right">
                        <div class="post-time">{{ post.created_at }}</div>
                        <div class="good-comments">
                            <div class="good">いいね（）</div>
                            <div class="comments">コメント（）</div>
                        </div>
                    </div>
                </div>
                <!--自由記述のところがあったらのところ-->
                {% if post.content %}
                <div class="post-content">
                    {{ post.content }}
                </div>
                {% endif %}
            </div>

        </div>
    </main>
<div class="footer-menu">
    <a href="" class="footer-btn">トップ</a>
    <a href="" class="footer-btn">トレーニング</a>
</div>
</div>



{% endblock %}

</html>